<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/signin" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Sign In</button>
    </form>
    <a href="/signup">Don't have an account? Sign up here</a>
    <button><a href='/auth/google'>Login With Google</a></button>
</body>
</html>
